/* All styles for your header Components live here */
.wrap-header {
  display: flex;
  align-items: flex-start;
}

.wrap-header .img-thumb {
  width: 5rem;
  padding: 1rem 0.5rem;
}

.wrap-header-right {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.wrap-header-title .header-name {
  font-weight: bold;
}
.wrap-header-title .header-handle, .wrap-header-title .header-date {
  color: gray;
  font-size: 1.2rem;
}