/* All styles for your header Components live here */
.wrap-header {
  display: flex;
  align-items: flex-start;
}

.wrap-header .img-thumb {
  width: 5rem;
  margin: 1rem 0 0 1rem;
}

.wrap-header-right {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.wrap-header-title {
  color: gray;
}

.wrap-header-title .header-name {
  color: black;
  font-weight: bold;
}

.wrap-header-title .header-handle, .wrap-header-title .header-date {
  font-size: 1.3rem;
}

.wrap-header .header-content {
  margin-top: 1rem;
}