body {
  font-weight: lighter;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 450px;
  height: 600px;
  border: 1px solid gray;
  margin: 0 auto;
}

.calculator button {
  border: 1px solid gray;
  font-size: 42px;
}